<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome! Please input your name.
  </h1>
  <input  type="text" name="name" [(ngModel)]="model.name" />
  <input type="button" (click)="sendRequest();" value="Send">
<h3 *ngIf="(model.postResponse)">{{model.postResponse}}</h3>
<h3 *ngIf="(model.postResponseBody)">{{model.postResponseBody}}</h3>
</div>

